$secondary: #F4CC61;
$buttonText: #000000;
$gold: gold;
$grey: #4C4F53;
$white: white;
$gold2: #F5D67C;
$button-square-hover: #717271;
$button-square-hoverLight-background: #8D7E53;
$button-square-hoverLight-p: #F4CC61;
$button-square-click: #BEA04B;
