$secondary: #F4CC61;
$buttonText: #000000;
$button-round-square: gold;
$button-square-dark: darkgoldenrod;
$button-square-i: #4C4F53;
$button-square-inactive-back-border: white;
$button-round-hover: #F5D67C;
$button-square-hover: #717271;
$button-square-hoverLight-background: #8D7E53;
$button-square-hoverLight-p: #F4CC61;
$button-square-click: #BEA04B;
$button-square-goldlight: #F0D77C;
$button-square-silver: #8C8155;
$button-square-white-p: #BCBFC7;
$button-square-inactive: lightgrey;
